# Machine Learning Model (Random Forest Classifier)

Steps for Machine Learning Workflow:

1.Extract
 Rules:
 a. Features should not be strings
 b. Features should be of the type array/dataframe
 c. There should be no null values in my features and target
 d. Features should be in the form of rows and columns
 e. Features should be on the same scale
2.Split into training and testing sets

3.Train the model on the training set

4.Test the model on the testing set

In [83]:
import os

In [84]:
os.getcwd()

'C:\\Users\\Dell'

In [85]:
os.chdir('C:\\Users\\Dell')

In [86]:
os.getcwd()

'C:\\Users\\Dell'

In [87]:
import numpy as np
import pandas as pd

In [88]:
red=pd.read_csv("WineQuality_Red.csv")                    #sep=";" to use when the values are seperated by ; in dataset

In [89]:
red["type"]="red"                                         # To Add a column

In [90]:
red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [91]:
len(red)

1599

In [92]:
white=pd.read_csv("WineQuality_White.csv")              #sep=";" to use when the values are seperated by ; in dataset

In [93]:
white["type"]="white"                                        # To Add a column

In [94]:
white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [95]:
len(white)

4898

# Using Concatenation

In [98]:
sample1=pd.concat([red,white],ignore_index=True,sort=False)

In [99]:
sample1.loc[1,:]

fixed_acidity              7.8
volatile_acidity          0.88
citric_acid                  0
residual_sugar             2.6
chlorides                0.098
free_sulfur_dioxide         25
total_sulfur_dioxide        67
density                 0.9968
pH                         3.2
sulphates                 0.68
alcohol                    9.8
quality                      5
type                       red
Name: 1, dtype: object

# Using Append

In [100]:
sample2=red.append(white,ignore_index=True,sort=False)

In [101]:
sample2.loc[1,:]

fixed_acidity              7.8
volatile_acidity          0.88
citric_acid                  0
residual_sugar             2.6
chlorides                0.098
free_sulfur_dioxide         25
total_sulfur_dioxide        67
density                 0.9968
pH                         3.2
sulphates                 0.68
alcohol                    9.8
quality                      5
type                       red
Name: 1, dtype: object

In [102]:
#Can use any Method for Concatenating Two datasets

# Step 1

In [104]:
X=sample1.drop(columns=["type"])                             #Feature Variables

In [105]:
X.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [106]:
y=sample1["type"]                                               #Target Variables

In [107]:
y.head()

0    red
1    red
2    red
3    red
4    red
Name: type, dtype: object

# Rules

In [108]:
X.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [109]:
type(X)

pandas.core.frame.DataFrame

In [110]:
X.shape

(6497, 12)

In [111]:
sample1.isna().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

# Step 2

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

# Step 3

In [114]:
from sklearn.ensemble import RandomForestClassifier

In [117]:
forest=RandomForestClassifier()

In [118]:
forest.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# Step 4

# Evaluate

In [120]:
forest.score(X_test,y_test)

0.9969230769230769

# Predict

In [121]:
forest.predict(X_test)

array(['white', 'white', 'red', ..., 'white', 'white', 'white'],
      dtype=object)

# Predicting on New Observations

In [122]:
data=pd.read_csv("WineQuality_WithOnlyFeatures.csv")

In [123]:
data

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.90,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,5.6,0.615,0.00,1.60,0.089,16,59,0.9943,3.58,0.52,9.9,5
2,8.1,0.270,0.41,1.45,0.033,11,63,0.9908,2.99,0.56,12.0,5
3,6.9,0.190,0.35,5.00,0.067,32,150,0.9950,3.36,0.48,9.8,5

In [124]:
forest.predict(data)

array(['red', 'red', 'white', 'white'], dtype=object)